<!-- .menu vertical  -->
<div class="navbar-default sidebar" role="navigation" ng-controller="RowlotController">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <a href="index5.html"><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> </a> </div>
  <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="#" class="waves-effect">
                    <img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle">
                    {{profile.Nombre}} {{profile.Apellido}}
                </a>

            </li>
            <li>
            <a ui-sref="auth.rowlot" class="waves-effect"><i class="mdi mdi-table fa-fw"></i> <span class="hide-menu">Home</span> </a>

            </li>

            <li> <a ui-sref="auth.rowlot-listtask" class="waves-effect"><i class="mdi mdi-table fa-fw"></i> <span class="hide-menu">Ranking</span></a>

            </li>
            <!--  <li class="devider"></li>-->

            <li>
                <a href="javascript:void(0)" class="waves-effect">
                    <i class="mdi mdi-table fa-fw"></i>
                    <span class="hide-menu">Tareas<span class="fa arrow"></span>
                    <span class="label label-rouded label-danger pull-right">9</span></span>
                </a>
                <ul class="nav nav-second-level">

                    <li>
                        <a href="foo-tables.html"><i class="fa-fw">L</i>
                            <span class="hide-menu">Lista</span>
                        </a>
                    </li>
                    <li>
                        <a ui.sref="auth.calendar">
                            <i class="fa-fw">C</i>
                            <span class="hide-menu">Calendario</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--    <li class="devider"></li>-->
            <li><a href="login.html" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Cerra Sesion</span></a></li>
            <li class="devider"></li>
            <li><a href="documentation.html" class="waves-effect"><i class="fa fa-circle-o text-danger"></i> <span class="hide-menu">Documentacion</span></a></li>
            <li><a href="faq.html" class="waves-effect"><i class="fa fa-circle-o text-success"></i> <span class="hide-menu">Ayuda</span></a></li>
        </ul>

    </div>
</div>
