<div id="wrapper">
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title"> Ranking</h4> </div>

                <!-- /.col-lg-12 -->
            </div>

            <!-- .row -->
            <div ng-show="showStudent" class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Rank</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">{{profile.Vida}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Monedas</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash2"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">{{profile.Moneda}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Vidas</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash3"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">{{profile.Vida}}</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Medallas</h3>
                        <ul class="list-inline two-part">
                            <li>
                                <div id="sparklinedash4"></div>
                            </li>
                            <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="text-danger">6</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.row -->

            <!--row -->

            <div class="row" >
                <div class="col-md-12">
                    <div class="white-box">
                        <h3 class="box-title">Lista estudiantes</h3>
                        <div class="scrollable">
                            <div class="table-responsive">
                                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                    <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Monedas</th>
                                        <th>Vidas</th>
                                        <th>Medallas</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody ng-init="database()">
                                    <tr ng-repeat="(index,user) in users">
                                        <td>{{index+1}}</td>
                                        <td>
                                            <a href="contact-detail.html">
                                                <img src="../plugins/images/users/genu.jpg" alt="user" class="img-circle" />  {{user.data.Nombre}} {{user.data.Apellido}}
                                            </a>
                                        </td>
                                        <td>{{user.data.email}}</td>
                                        <td>{{user.data.Moneda}}</td>
                                        <td>{{user.data.Vida}}</td>
                                        <td>    <div>
                                            <p> <span class="pull-right text-muted">60%</span> </p>
                                            <div class="progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (success)</span> </div>
                                            </div>
                                        </div>
                                        </td>
                                        <td ng-show="showTeacher">
                                            <div>
                                                <button class="btn btn-info" ng-click="substratCoins(user.uid, user.data.Moneda)">-</button>
                                                <input id="{{user.uid}}" min="0" type="number" ng-model='coins' style="width: 50px;" />
                                                <button class="btn btn-warning" ng-click="addCoins(user.uid, user.data.Moneda)">+</button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
